.ctn-granel {
    height: 500vh;
    width: 98vw;
    margin: 0;
    padding: 0;
}

.main-header1 {
    position: fixed;
    padding: 0;
    margin: 0;
    top:0;
    left: 0;
    height: 14vh;
    background-image: url(./logo2.png);
    background-repeat: no-repeat;
    background-size: 280px;
    background-position-y: -30px;
    background-position-x: -60px ;
    background-color: var(--color_3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.main-filter {
    position: sticky;
    top: 15vh; /* Fica abaixo do header */
    height: 8vh;
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    z-index: 998;

}

.nav1 {
    margin-left: 1vw;
}

.nav1 button {
    font-weight: 500;
    margin-top: 2vh;
    border: 1px solid rgba(0, 37, 0, 0.3);
    border-radius: 30px;
    background-color: transparent;
    padding: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-right: 0.5vw;
}

.nav1 button:hover {
    cursor: pointer;
    border: 1.5px solid var(--color_3);
}

.main-info {
    height: 30vh;
    width: 50vw;
    background-color: var(--color_4);
    color: var(--color_3);
    font-size: 18px;
    padding-top: 30px;
    padding-left: 40px;
    flex-direction: column;
    align-items: center; 
    text-align: start; 
    margin-top: 15vh;
}

.main-info h1 {
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
}

.main-info h5 {
    color: white;
}

.img {
    margin-top: -30vh;
    margin-left: 48.9vw ;
    width: 50vw; 
    height: 27vh;
    background-image: url('granel.jpg');
}